<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 引用和被引用的组件 必须全部在ioc容器！ 不能乡愁！！-->

    <!--1.单个构造参数注入-->

    <!--
    springioc容器是一个高级容器，内部会有缓存动作！1.先创建对象[ioc] 2.再进行属性赋值[di]
    -->
    <!--步骤一：将他们都存放在ioc容器[ioc]-->
    <bean id="userDao" class="org.example.ioc_02.UserDao"/>
    <bean id="userService" class="org.example.ioc_02.UserService">
        <!--构造参数传值 di的配置
            <constructor-arg 构造参数传值的di配置
                value=直接属性值 String name="二狗子"  int age="18"
                ref=引用其他的bean beanId值
                -->
        <constructor-arg ref="userDao"/>
    </bean>

    <!--也可以放在这里-->
    <!--步骤一：将他们都存放在ioc容器[ioc]-->
    <bean id="userDao" class="org.example.ioc_02.UserDao"/>
</beans>